@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Itim&display=swap');

body {
	font-family: 'Inconsolata', monospace;
	text-align: center;
}

.job-table {
	display: inline-block;
	border-collapse: collapse;
}

.job-table th,
.job-table td {
	border: 2px solid black;
}

.job-table th {
	text-align: center;
	padding: 0.4em 2em;
}

.job-table td {
	text-align: left;
	padding: 0.4em 1em;
}

.job-table form {
	display: inline;
}

.job-table .run-button {
	background-color: #00FF00AA;
	border: none;
	border-radius: 0.4em;
	padding: 0.4em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0 0.25em;
}

.job-table .run-button:hover {
	background-color: #00FF00FF;
}

.job-table .details-button {
	color: inherit;
	background-color: #FFFF00AA;
	border: none;
	border-radius: 0.4em;
	padding: 0.4em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0 0.25em;
}

.job-table .details-button:hover {
	background-color: #FFFF00FF;
}

.add-job-form {
	padding: 1em 0;
}

.add-job-form {
	padding: 1em 0;
}

.add-job-form label input {
	margin-left: 1em;
	margin-right: 0.5em;
}