html, body, ul, li {
	all: unset;
}

html {
	font-family: 'Open Sans', sans-serif;
	color: black;
}

body {
	display: flex;
	flex-direction: column;
}

ul {
	padding: 1em 3em;

	display: flex;
	display-direction: column;
	gap: 1em;
}

.job-card {
	padding: 1em 2em;

	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 1em;

	display: flex;
	flex-direction: column;

	text-align: center;
}
